<nz-space nzAlign="baseline" nzDirection="horizontal" nzSize="middle">
  <img
    class="btn-image"
    *nzSpaceItem
    nz-image
    nzDisablePreview
    width="32px"
    height="32px"
    nzSrc="./assets/images/icons/facebook.png"
    alt=""
  />
  <img
    class="btn-image"
    *nzSpaceItem
    nz-image
    nzDisablePreview
    width="32px"
    height="32px"
    nzSrc="./assets/images/icons/google.png"
    alt=""
  />
  <img
    class="btn-image"
    *nzSpaceItem
    nz-image
    nzDisablePreview
    width="32px"
    height="32px"
    nzSrc="./assets/images/icons/GitHub.png"
    alt=""
  />
</nz-space>
