<div nz-row nzAlign="middle" nzJustify="center" class="glass py-3 m-3 rounded-12 shadow-sm" [nzGutter]="[0, 16]">
  <div nz-col nzLg="6" nzSpan="12">
    <h1 nz-typography class="m-0 p-0 text-center">LOGO</h1>
  </div>
  <div nz-col nzLg="12" nzSpan="24">
    <div class="w-100 d-flex align-items-center justify-content-center text-no-copy ">
      <div nz-button nzType="text" [routerLink]="['/']" class="mx-2 p-2 py-4 d-flex flex-column justify-content-center align-items-center my-2 font-size-xs">
        <i nz-icon nzType="home" nzTheme="outline" class="icon-size"></i>
        <span nz-typography class="text-center"><strong>Trang chủ</strong></span>
      </div>
      <div nz-button nzType="text" [routerLink]="['/friends']" class="mx-2 p-2 py-4 d-flex flex-column justify-content-center align-items-center my-2 font-size-xs">
        <i nz-icon nzType="team" nzTheme="outline" class="icon-size"></i>
        <span nz-typography class="text-center"><strong>Bạn bè</strong></span>
      </div>
      <div nz-button nzType="text" [routerLink]="['/']" class="mx-2 p-2 py-4 d-flex flex-column justify-content-center align-items-center my-2 font-size-xs">
        <i nz-icon nzType="search" nzTheme="outline" class="icon-size"></i>
        <span nz-typography class="text-center"><strong>Tìm kiếm</strong></span>
      </div>
      <div nz-button nzType="text" [routerLink]="['/']" class="mx-2 p-2 py-4 d-flex flex-column justify-content-center align-items-center my-2 font-size-xs">
        <i nz-icon nzType="notification" nzTheme="outline" class="icon-size"></i>
        <span nz-typography class="text-center"><strong>Thông báo</strong></span>
      </div>

    </div>
  </div>
  <div nz-col nzLg="6" nzSpan="24">
    <ng-container *ngIf="isAuthenticated; else elsTpl">
      <ng-container *ngTemplateOutlet="userTpl"> </ng-container>
    </ng-container>
    <ng-template #elsTpl>
      <ng-container *ngTemplateOutlet="loginBtnTpl"> </ng-container>
    </ng-template>



  </div>
</div>

<ng-template #userTpl>
  <div nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" nzPlacement="bottomCenter"
    class="w-100 d-flex align-items-center justify-content-center px-5" *ngIf="currentUser">
    <nz-avatar [nzSize]="48" nzSrc="{{currentUser.avatar_url}}" nzShape="circle"
      class="d-flex align-items-center justify-content-center">
    </nz-avatar>
    <a nz-typography class="font-size-sm mx-1">{{currentUser.display_name}}</a>
    <i nz-icon nzType="caret-down" nzTheme="outline"></i>
  </div>
</ng-template>


<ng-template #loginBtnTpl>
  <div nz-row nzAlign="middle" nzJustify="center">
    <div nz-col nzSpan="12" class="d-flex align-items-center justify-content-end">
      <button nzSize="large" class="mx-1 d-flex align-items-center justify-content-center" nz-button nzType="text"
        nzSearch (click)="toggleAuth('LOGIN')">
        <i nz-icon nzType="login"></i>
        Đăng nhập
      </button>
    </div>
    <div nz-col nzSpan="12">
      <button nzSize="large" nzType="primary" class="mx-1 d-flex align-items-center justify-content-center" nz-button
        nzSearch (click)="toggleAuth('REGISTER')">
        <i nz-icon nzType="user-add"></i>
        Đăng ký
      </button>
    </div>
  </div>
</ng-template>

<nz-modal *ngIf="!isMobile && !isAuthenticated" nzNoAnimation [nzCloseIcon]="closeIcon" nzCentered [nzFooter]="null"
  nzWidth="480px" (nzOnCancel)="toggleAuth()" [(nzVisible)]="authVisible" nzCloseOnNavigation="true"
  [nzTitle]="modalAndModalTitleTmp">
  <ng-container *ngTemplateOutlet="authFormTpl"> </ng-container>
</nz-modal>
<nz-drawer *ngIf="isMobile && !isAuthenticated" [nzClosable]="false" [nzVisible]="authVisible" nzPlacement="bottom"
  (nzOnClose)="toggleAuth('REGIETER')" nzHeight="67%" [nzTitle]="modalAndModalTitleTmp">
  <ng-container *ngTemplateOutlet="authFormTpl"> </ng-container>
</nz-drawer>

<ng-template #authFormTpl>
  <user-auth-register *ngIf="authFormSelected !== 'LOGIN'">
  </user-auth-register>
  <user-auth-login *ngIf="authFormSelected === 'LOGIN'"> </user-auth-login>
</ng-template>

<ng-template #closeIcon>
  <i nz-icon nzType="close" nzTheme="outline"></i>
</ng-template>

<ng-template #modalAndModalTitleTmp>
  <h3 class="m-0 p-0" nz-typography>
    <strong *ngIf="authFormSelected === 'LOGIN'">Đăng Nhập</strong>
    <strong *ngIf="authFormSelected !== 'LOGIN'">Đăng Ký</strong>
  </h3>
  <div class="
      w-100
      my-2
      d-flex
      align-items-center
      justify-content-start
      font-size-sm
    ">
    <p nz-typography nzType="secondary" class="m-0 p-0" *ngIf="authFormSelected === 'LOGIN'">
      Bạn chưa có tài khoản ?
    </p>
    <p nz-typography nzType="secondary" class="m-0 p-0" *ngIf="authFormSelected !== 'LOGIN'">
      Bạn đã có tài khoản ?
    </p>
    <a *ngIf="authFormSelected === 'LOGIN'" nz-typography class="mx-1 p-0" (click)="changeAuthForm('REGISTER')">
      <strong> Đăng ký </strong></a>
    <a *ngIf="authFormSelected !== 'LOGIN'" nz-typography class="mx-1 p-0" (click)="changeAuthForm('LOGIN')">
      <strong> Đăng nhập </strong></a>
  </div>
</ng-template>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu class="p-4 mx-4">
    <li nz-menu-item class="d-flex align-items-center" (click)="logout()">
      <i nz-icon nzType="logout" nzTheme="outline" class="font-size-md"></i>
      <span nz-typography>
        Đăng xuất
      </span>
    </li>
  </ul>
</nz-dropdown-menu>
