<div nz-row nzJustify="center" class="h-100">
  <div nz-col nzSpan="24" class="h-100">
    <cdk-virtual-scroll-viewport itemSize="50" class="h-100">
      <ng-container *ngIf="notifications$ | async as notifications">
        <ng-container *ngFor="let item of notifications">
          <app-notification-content [notification]='item' [currentUserID]="currentUser.id"></app-notification-content>
        </ng-container>
        <ng-container *ngIf="notifications.length <=0">
          <div nz-row>
            <app-no-data [noDataTitle]="'Không có thông báo !'"></app-no-data>
          </div>
        </ng-container>

      </ng-container>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
