<nz-drawer
  [nzClosable]="false"
  [nzVisible]="drawerVisible"
  nzPlacement="bottom"
  (nzOnClose)="toggleDrawer()"
  nzHeight="67%"
  [nzTitle]="drawerTitleTmp"
>
  <ng-container *nzDrawerContent>
      <ng-content></ng-content>
  </ng-container>
</nz-drawer>
<ng-template #drawerTitleTmp>
  <h4 class="m-0 p-0" nz-typography> <strong>{{drawerTitle}}</strong></h4>
    <div
      class="w-100 my-2 d-flex align-items-center justify-content-center"
    >
      <p nz-typographyi class="m-0 p-0">Bạn chưa có tài khoản ?</p>
      <a nz-typography class="m-0 p-0">Đăng ký </a>
    </div>
</ng-template>
