<div *ngIf="currentUser" nz-row nzAlign="middle" nzJustify="start" [nzGutter]="[12, 12]">
  <ng-container *ngIf="friendRequestList$ | async as requestList; else loadingTpl">
    <ng-container *ngIf="requestList.length > 0; else emptyTpl">
      <div *ngFor="let user of requestList" nz-col nzXl="12" nzLg="12" nzMd="12" nzSpan="24">
        <friend-request-card [user]="user" [currentUser]='currentUser'>
        </friend-request-card>
      </div>
    </ng-container>
  </ng-container>
</div>
<ng-template #emptyTpl>
  <div class="w-100 h-100 d-flex align-items-center justify-content-center">
    <app-no-data noDataTitle="Không có yêu cầu kết bạn :(( "></app-no-data>
  </div>
</ng-template>
<ng-template #loadingTpl>
  <div class="w-100 h-100 d-flex align-items-center justify-content-center">
    <nz-spin nzSimple nzTip="Đang tải ..."></nz-spin>
  </div>
</ng-template>
