<nz-affix nzOffsetBottom="0" class="mt-3">
  <div nz-row>
    <div nz-col nzXXl='0' nzXl='0' nzLg="0" nzSpan="24" class="h-60 glass top-rounded">
      <div class="w-100 h-100 d-flex align-items-center justify-content-around text-no-copy ">
        <div [routerLink]="['/']"
          class="mx-3 d-flex flex-column justify-content-center align-items-center my-2 font-size-xs">
          <i nz-icon nzType="schedule" nzTheme="outline" class="icon-size"></i>
        </div>
        <div (click)="toggleNavOptions('messages')"
          class="mx-3 d-flex flex-column justify-content-center align-items-center my-2 font-size-xs">
          <i nz-icon nzType="mail" nzTheme="outline" class="icon-size"></i>
        </div>
        <div (click)="toggleNavOptions('search')"
          class="mx-3 d-flex flex-column justify-content-center align-items-center my-2 font-size-xs">
          <i nz-icon nzType="search" nzTheme="outline" class="icon-size"></i>
        </div>
        <div (click)="toggleNavOptions('notifications')"
          class="mx-3 d-flex flex-column justify-content-center align-items-center my-2 font-size-xs">
          <i nz-icon nzType="notification" nzTheme="outline" class="icon-size"></i>
        </div>
        <div (click)="toggleExtendMenu()"
          class="mx-3 d-flex flex-column justify-content-center align-items-center my-2 font-size-xs">
          <i nz-icon nzType="menu" nzTheme="outline" class="icon-size"></i>
        </div>
      </div>
    </div>
  </div>
</nz-affix>


<nz-drawer *ngIf="currentUser$ | async as currentUser" [nzVisible]="extendMenuVisible" nzPlacement="bottom"
  (nzOnClose)="toggleExtendMenu()" nzWidth="25%" nzHeight="100%" [nzTitle]="notificationTitleTpl">
  <div nz-row *nzDrawerContent>
    <div nz-col nzSpan="24" class="d-flex align-items-center justify-content-center">
      <nz-avatar nzAlt="Your Avatar" nzIcon="user" [nzSize]="128" nzSrc="{{currentUser.avatar_url}}"></nz-avatar>
    </div>
    <div nz-col nzSpan="24" class="d-flex align-items-center justify-content-center mt-2">
      <h5 nz-typography>{{currentUser.display_name}}</h5>
    </div>
    <div nz-col nzSpan="24" class="p-2 border-bottom">
      <button (click)="toggleNavigation('user', currentUser.id)" nzBlock="true" nzType="text" nzSize="large" nz-button
        class="d-flex align-items-center justify-content-start">
        <i nz-icon nzType="user" nzTheme="outline" class="me-2"></i>
        Bạn
      </button>
    </div>
    <div nz-col nzSpan="24" class="p-2 border-bottom">
      <button (click)="toggleNavigation('friends')" nzBlock="true" nzType="text" nzSize="large" nz-button
        class="d-flex align-items-center justify-content-start">
        <i nz-icon nzType="team" nzTheme="outline" class="me-2"></i>
        Bạn bè
      </button>
    </div>
    <div nz-col nzSpan="24" class="p-2 mt-5">
      <button (click)="logOut()" nzBlock="true" nzType="primary" nzSize="large" nz-button
        class="d-flex align-items-center justify-content-center">
        <i nz-icon nzType="logout" nzTheme="outline" class="me-2"></i>
        Đăng xuất
      </button>
    </div>
  </div>
  <ng-template #notificationTitleTpl>
    <h5 nz-typography>Menu</h5>
  </ng-template>
</nz-drawer>
