<div nz-row nzAlign="middle" nzJustify="center" class="glass-2 rounded-12 shadow-sm mt-3 p-3">
  <!-- START-POST-HEADER -->
  <div nz-col nzSpan="24">
    <div nz-row nzAlign="middle">
      <div nz-col nzSpan="12" class="d-flex">
        <nz-avatar class="d-flex align-items-center justify-content-center" [nzSize]="48" nzSrc="{{post.avatar_url}}">
        </nz-avatar>
        <div class="d-flex flex-column mx-2">
          <a href="#" nz-typography><strong> {{ post.create_by_username }}</strong></a>
          <span nz-typography nzType="secondary">{{post.created_at | fromNow }} </span>
        </div>
      </div>
      <div nz-col nzSpan="12" class="d-flex justify-content-end align-items-center">
        <button nz-button nzType="text" nzShape="circle">
          <i font-size-md nz-icon nzType="more" nzTheme="outline" [nzRotate]="90"></i>
        </button>
      </div>
    </div>
  </div>
  <!-- END-POST-HEADER -->
  <!-- START-POST-CONTENT -->
  <div *ngIf="post.post_content.hashtag" nz-col nzSpan="24" class="py-2">
    <nz-tag *ngFor="let hashtag of post.post_content.hashtag" [nzColor]="'#00b2fe'" class="mt-2">
      <div class="d-flex align-items-center justify-content-center font-size-xs">
        <i nz-icon nzTheme="outline" nzType="tag"></i>
        <span nz-typography class="text-white mx-1">
          <strong>
            {{hashtag}}
          </strong>
        </span>
      </div>
    </nz-tag>
  </div>
  <div *ngIf="post.post_content.text_content" nz-col nzSpan="24" class="py-2">
    <span nz-typography>
      {{ post.post_content.text_content }}
    </span>
  </div>

  <!-- END-POST-CONTENT -->

  <div nz-col nzSpan="24" *ngIf="post.post_content.image_content" class="bg-dark-opacity mt-2 image-max-height">
  <div nz-row>
    <ng-container [ngSwitch]="post.post_content.image_content.length">
      <ng-container *ngSwitchCase="1">
        <ng-container *ngTemplateOutlet="fullImgTpl; context: { src: post.post_content.image_content[0].src}">
        </ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="2">
        <ng-container *ngFor="let image of post.post_content.image_content">
          <ng-container *ngTemplateOutlet="halfImgTpl; context: { src: image.src }"></ng-container>
        </ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="4">
        <ng-container *ngFor="let image of post.post_content.image_content">
          <ng-container *ngTemplateOutlet="halfImgTpl; context: { src: image.src }"></ng-container>
        </ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="3">
        <ng-container *ngFor="let image of post.post_content.image_content; index as idx">
          <ng-container *ngIf="idx < 2; else elseTemplate">
            <ng-container *ngTemplateOutlet="halfImgTpl; context: { src: image.src }"></ng-container>
          </ng-container>
          <ng-template #elseTemplate>
            <ng-container *ngTemplateOutlet="fullImgTpl; context: { src: image.src }"></ng-container>
          </ng-template>
        </ng-container>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <ng-container *ngFor="let image of post.post_content.image_content; index as idx">
          <ng-container *ngIf="idx < 3">
            <ng-container *ngTemplateOutlet="halfImgTpl; context: { src: image.src }"></ng-container>
          </ng-container>
        </ng-container>
        <ng-container>
          <ng-container *ngTemplateOutlet="
            halfImgTpl;
            context: { src: post.post_content.image_content[3].src , tpl: moreimageoverlaytpl }
          ">
          </ng-container>
          <ng-template #moreimageoverlaytpl>
            <div (click)="previewListImage()"
              class="w-100 h-100 bg-dark d-flex align-items-center justify-content-center pointer"
              style="opacity: 0.67; position: absolute; top: 0; left: 0">
              <h3 nz-typography class="text-white">+ {{post.post_content.image_content.length -4}}</h3>
            </div>
          </ng-template>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
  </div>


  <!-- post-stats -->
  <div nz-col nzSpan="24" class="py-1 border-white mt-1">
    <div nz-row nzAlign="middle">
      <div nz-col nzSpan="12" class="d-flex justify-content-start">
        <span  nz-typography>
          {{totalLike | async}} Lượt thích
        </span>
      </div>
      <div nz-col nzSpan="12" class="d-flex justify-content-end ">
        <span  nz-typography>
          {{totalComment |async }} Bình luận
        </span>
      </div>
    </div>
  </div>
  <!-- post-stats -->
  <!-- START-POST-OPTION -->
  <div nz-col nzSpan="24" class="py-2 border-top border-bottom border-white ">
    <div nz-row nzAlign="middle" nzJustify="center">
      <div nz-col nzSpan="8">
        <button nz-button nzBlock nzType="text" (click)="postLikeUpdate(post.id)"
          class="d-flex align-items-center justify-content-center">
          <i *ngIf="isLiked |async; else noLiked" nz-icon nzType="heart" style="color: #ff2194;" nzTheme="fill"
            class="mx-1"></i>
          <ng-template #noLiked>
            <i nz-icon nzType="heart" nzTheme="outline" class="mx-1"></i>
          </ng-template>
          <span nz-typography class="font-size-sm">
            <strong> Yêu thích </strong>
          </span>
        </button>
      </div>
      <div nz-col nzSpan="8">
        <button (click)="toggleListComment()" nz-button nzBlock nzType="text"
          class="d-flex align-items-center justify-content-center">
          <i nz-icon nzType="message" nzTheme="outline" class="mx-1"></i>
          <span nz-typography class="font-size-sm">
            <strong> Bình luận </strong>
          </span>
        </button>
      </div>
      <div nz-col nzSpan="8">
        <button nz-button nzBlock nzType="text" class="d-flex align-items-center justify-content-center">
          <i nz-icon nzType="share-alt" nzTheme="outline" class="mx-1"></i>
          <span nz-typography class="font-size-sm">
            <strong> Chia sẻ </strong>
          </span>
        </button>
      </div>
    </div>
  </div>
  <!-- END-POST-OPTION -->

  <div nz-col nzSpan="24" class="py-2">
    <ng-container [ngTemplateOutlet]='addCommentTemplate' [ngTemplateOutletContext]="{isChild: false}">
    </ng-container>
    <ng-template #prefixTemplateUser>
      <nz-avatar *ngIf="user" class="d-flex align-items-center justify-content-center mx-1" nzShape="circle"
        nzSrc="{{user.avatar_url}}" nzSize="large" nzIcon="user"></nz-avatar>
      <nz-avatar *ngIf="!user" class="d-flex align-items-center justify-content-center mx-1" nzShape="circle"
        nzIcon='user' nzSize="large" nzIcon="user"></nz-avatar>
    </ng-template>
  </div>
  <ng-container *ngIf="totalComment | async as total">
    <ng-container *ngIf="total > 0">
      <div *ngIf="commentListVisible"  nz-col nzSpan="24"  class="rounded-12 shadow p-3 my-3">
        <ng-template [ngTemplateOutlet]="commentContentTpl" [ngTemplateOutletContext]="{ isChild: false }">
        </ng-template>
      </div>
    </ng-container>
  </ng-container>
</div>

<!-- START-IMAGE-FORMAT-TEMPLATE -->
<ng-template #halfImgTpl let-src="src" let-template="tpl">
  <div nz-col nzSpan="12" class="d-flex justify-content-center position-relative">
    <img nz-image [nzSrc]="src" class="img-fluid d-block w-100 image-max-height" />
    <ng-container *ngIf="template">
      <ng-container *ngTemplateOutlet="template"></ng-container>
    </ng-container>
  </div>
</ng-template>
<ng-template #fullImgTpl let-src="src">
  <div nz-col nzSpan="24" class="d-flex justify-content-center position-relative ">
    <img nz-image [nzSrc]="src" class="img-fluid d-block w-100 image-max-height" />
  </div>
</ng-template>
<!-- START-IMAGE-FORMAT-TEMPLATE -->

<!-- START-ADD-COMMENT-BOX -->
<ng-template #addCommentTemplate let-isChild='isChild' let-commentID='commentID'>
  <nz-input-group  class="align-items-center border-none" [nzSuffix]="suffixTemplateInfo"
    [nzPrefix]="prefixTemplateUser">
    <textarea [disabled]="isCommentUploading | async" appScrollTo [isChild]="isChild" [el]="comment" #comment [value]='' type="text" nz-input placeholder="Nhập bình luận" nzSize="large"
      class=" px-3 rounded no-resize border-none" [nzAutosize]="{ maxRows: 50 }"></textarea>
  </nz-input-group>
  <ng-template #suffixTemplateInfo>
    <button (click)="postComment(comment.value, isChild, comment, commentID)" nz-tooltip nzTooltipTitle="Bình luận"
      nzTooltipTrigger="hover" nzTooltipPlacement="top" nz-button nzShape="circle" nzType="text"
      class="d-flex align-items-center justify-content-center">
      <i nz-icon nzType="send" nzTheme="outline"></i>
    </button>
    <button nz-tooltip nzTooltipTitle="Hình ảnh" nzTooltipTrigger="hover" nzTooltipPlacement="top" nz-button
      nzShape="circle" nzType="text" class="d-flex align-items-center justify-content-center">
      <i nz-icon nzType="picture" nzTheme="outline"></i></button>
  </ng-template>
</ng-template>
<!-- START-ADD-COMMENT-BOX -->


<!-- START-LIST-COMMENT-TEMPLATE -->
<ng-template #commentContentTpl>
  <ng-container *ngIf="comments | async; else loadingTpl">
    <nz-comment  *ngFor="let item of comments | async; index as idx"
       [nzAuthor]="authorTpl" [nzDatetime]="fromNowTpl">
      <ng-template #authorTpl>
        <a href="" nz-typography> <strong>{{item.created_by_display_name}}</strong></a>
      </ng-template>
      <ng-template #fromNowTpl>
        <span href="" nz-typography> {{item.created_at.toDate() | fromNow}}</span>
      </ng-template>
      <nz-avatar nz-comment-avatar nzShape="circle" nzSrc="{{item.avatar_url}}"></nz-avatar>
      <nz-comment-content >
        <span nz-typography>{{item.commentText}}</span>
      </nz-comment-content>
      <nz-comment-action>
        <span nz-typography (click)="toggleChildComment(idx)"><strong>Trả lời</strong></span>
      </nz-comment-action>
      <ng-container *ngIf="item.child_comments && item.child_comments.length">
        <nz-comment *ngFor="let child_comment of item.child_comments" [nzAuthor]="authorTpl" [nzDatetime]="fromNowTpl">
          <ng-template #authorTpl>
            <a href="" nz-typography> <strong>{{child_comment.created_by_display_name}}</strong></a>
          </ng-template>
          <ng-template #fromNowTpl>
            <span href="" nz-typography>{{child_comment.created_at.toDate() | fromNow}}</span>
          </ng-template>
          <nz-avatar nz-comment-avatar nzShape="circle" nzSrc="{{child_comment.avatar_url}}"></nz-avatar>
          <nz-comment-content>
            <span nz-typography>{{child_comment.commentText}}</span>
          </nz-comment-content>
          <nz-comment-action>
            <span nz-typography (click)="toggleChildComment(idx)"><strong>Trả lời</strong></span>
          </nz-comment-action>
        </nz-comment>
      </ng-container>
      <ng-container *ngIf="replyCommentDisplayIndex.includes(idx)" [ngTemplateOutlet]='addCommentTemplate'
        [ngTemplateOutletContext]="{isChild: true, commentID: item.id}">
      </ng-container>
    </nz-comment>
  </ng-container>
</ng-template>
<!-- END-LIST-COMMENT-TEMPLATE -->

<!-- START-LOADING-TEMPLATE -->
<ng-template #loadingTpl>
  <div class="w-100 d-flex align-items-center justify-content-center">
    <nz-spin nzSimple></nz-spin>
  </div>
</ng-template>
<!-- END-LOADING-TEMPLATE -->
