<div nz-row class="h-100">
  <div nz-row class="glass w-100 shadow-sm rounded-12">
    <div nz-col nzSpan="24" class="border-bottom px-3 d-flex align-items-center" style="height: 8vh;">
      <ng-container *ngIf="friend$ | async as friend">
        <nz-avatar class="d-flex align-items-center justify-content-center" nz-comment-avatar nzIcon="user"
          nzSrc="{{friend.avatar_url}}"></nz-avatar>
        <span nz-typography class="mx-2"> <strong> {{friend.display_name}} </strong></span>

      </ng-container>
    </div>
    <cdk-virtual-scroll-viewport itemSize="100" class="px-3" nz-col nzSpan="24" style="height: 50vh; overflow-y: auto;"
      #messageContainer>
      <div nz-row class="px-3" *ngIf="messageVM$ | async as messagesVM; else loadingTpl">
        <div nz-col nzSpan="24" *ngFor="let message of messagesVM.messages" class="my-1 d-flex">
          <ng-container *ngIf="message.send_by.id !== messagesVM.currentUser.id; else selfMessage">
            <div class="w-100 d-flex align-items-center">
              <nz-comment>
                <nz-avatar class="d-flex align-items-center justify-content-center" nz-comment-avatar nzIcon="user"
                  nzSrc="{{message.send_by.avatar_url}}"></nz-avatar>
                <nz-comment-content class="bg-white-opacity px-2 py-1 rounded-12 shadow-sm">
                  <span nz-typography nz-tooltip="{{message.created_at.toDate()| toHours}}"
                    style="overflow-wrap: break-word; word-break: break-all;">
                    {{message.messageText}}
                  </span>
                </nz-comment-content>
              </nz-comment>
            </div>
          </ng-container>
          <ng-template #selfMessage>
            <div class="w-100 d-flex align-items-center justify-content-end">
              <span nz-tooltip="Tôi: {{message.created_at.toDate()| toHours}}"
                class="bg-primary-opacity p-2 rounded-12 shadow-sm text-white " nz-typography
                style="overflow-wrap: break-word; word-break: break-all;">
                {{message.messageText}}
              </span>
            </div>
          </ng-template>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
    <div nz-col nzSpan="24" class="border-top p-2 d-flex align-items-start" style="height: 12vh;">
      <nz-input-group class="align-items-center border-none" [nzSuffix]="suffixTemplateInfo">
        <textarea #chatBox [(ngModel)]="chatBoxValue" (keydown.enter)="sendMessage(chatBox)" type="text" nz-input
          placeholder="Nhập tin nhắn" nzSize="large" class="my-1 px-3 rounded no-resize border-none"
          [nzAutosize]="{ maxRows: 2 }"></textarea>
      </nz-input-group>
      <ng-template #suffixTemplateInfo>
        <button nz-tooltip nzTooltipTitle="Bình luận" nzTooltipTrigger="hover" nzTooltipPlacement="top" nz-button
          nzShape="circle" nzType="text" class="d-flex align-items-center justify-content-center">
          <i nz-icon nzType="send" nzTheme="outline"></i>
        </button>
        <button nz-tooltip nzTooltipTitle="Hình ảnh" nzTooltipTrigger="hover" nzTooltipPlacement="top" nz-button
          nzShape="circle" nzType="text" class="d-flex align-items-center justify-content-center">
          <i nz-icon nzType="picture" nzTheme="outline"></i></button>
      </ng-template>
    </div>
  </div>
</div>

<ng-template #loadingTpl>
  <div nz-row class="w-100 h-100" nzAlign="middle" nzJustify="center">
    <div nz-col>
      <nz-spin nzSimple="true" nzSize="small" nzTip="Đang tải..."></nz-spin>
    </div>
  </div>
</ng-template>
