<div nz-row nzAlign="middle" nzJustify="center">
  <div nz-col nzSpan="24">
    <form nz-form class="login-form">
      <div nz-row nzAlign="middle" nzJustify="center">
        <div nz-col nzSpan="22" class="my-1">
          <nz-form-item>
            <div nz-col nzSpan="24" class="px-1 font-size-xs">
              <span nz-typography><strong>Email</strong></span>
            </div>
            <nz-form-control
              class="w-100"
              nzErrorTip="Please input your username!"
            >
              <nz-input-group nzPrefixIcon="mail">
                <input
                  style="height: 32px"
                  type="text"
                  nz-input
                  placeholder="Nhập vào email của bạn"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row nzAlign="middle" nzJustify="center">
        <div nz-col nzSpan="22" class="my-1">
          <nz-form-item nzJustify="center">
            <div nz-col nzSpan="24" class="px-1 font-size-xs">
              <span nz-typography><strong>Mật khẩu</strong></span>
            </div>
            <nz-form-control
              class="w-100"
              nzErrorTip="Please input your Password!"
            >
              <nz-input-group nzPrefixIcon="lock">
                <input
                  name="password"
                  style="height: 32px"
                  type="password"
                  nz-input
                  placeholder="Nhập vào mật khẩu"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row nzAlign="middle" nzJustify="center">
        <div nz-col nzSpan="22" class="my-1">
          <nz-form-item nzJustify="center">
            <div nz-col nzSpan="24" class="px-1 font-size-xs">
              <span nz-typography><strong>Nhập lại mật khẩu</strong></span>
            </div>
            <nz-form-control
              class="w-100"
              nzErrorTip="Please input your Password!"
            >
              <nz-input-group nzPrefixIcon="redo">
                <input
                  name="password"
                  style="height: 32px"
                  type="password"
                  nz-input
                  placeholder="Nhập lại mật khẩu"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row nzAlign="middle" nzJustify="center">
        <div nz-col nzSpan="22" class="my-1">
          <nz-form-item>
            <div nz-col nzSpan="24" class="px-1 font-size-xs">
              <span nz-typography><strong>Tên của bạn</strong></span>
            </div>
            <nz-form-control
              class="w-100"
              nzErrorTip="Please input your username!"
            >
              <nz-input-group nzPrefixIcon="user">
                <input
                  style="height: 32px"
                  type="text"
                  nz-input
                  placeholder="Nhập vào tên của bạn"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      
      <div nz-row nzAlign="middle" nzJustify="center">
        <div nz-col nzSpan="22" class="my-1">
          <button
            nzSize="large"
            nzBlock
            nz-button
            class="login-form-button login-form-margin"
            [nzType]="'primary'"
          >
            Đăng ký
          </button>
        </div>
      </div>

      <div nz-row nzAlign="middle" nzJustify="center">
        <div
          nz-col
          nzSpan="22"
          class="my-1 d-flex flex-column align-items-center justify-content-center"
        >
          <span nz-typography nzType="secondary">Hoặc đăng nhập bằng</span>
          <auth-with-social></auth-with-social>
        </div>
      </div>
    </form>
  </div>
</div>
