<div nz-row nzJustify="start" class="px-3">
  <div nz-col nzSpan="24" class="glass rounded-12" >
    <ul
      nz-menu
      nzMode="vertical"
      class="py-2 w-100 rounded-12 border-none"
    >
      <li
        nzSelected
        style="height: 64px"
        nz-menu-item
        class="
          font-size-sm
          d-flex
          align-items-center
          justify-content-start
          m-0
          p-1
          py-4
        "
      >
        <strong>
          <i
            style="font-size: 24px"
            nz-icon
            nzType="schedule"
            nzTheme="outline"
            class="mx-3"
          ></i>
          Bảng tin
        </strong>
      </li>
      <div class="px-4 py-2">
        <nz-divider class="m-0 p-0"></nz-divider>
      </div>
      <li
        style="height: 64px"
        nz-menu-item
        class="
          font-size-sm
          d-flex
          align-items-center
          justify-content-start
          m-0
          p-1
          py-4
          text-wrap
        "
      >
        <strong>
          <i
            style="font-size: 24px"
            nz-icon
            nzType="info-circle"
            nzTheme="outline"
            class="mx-3"
          ></i>
          Tình hình dịch bệnh
        </strong>
      </li>
      <div class="px-4 py-2">
        <nz-divider class="m-0 p-0"></nz-divider>
      </div>
      <li
        style="height: 64px"
        nz-menu-item
        class="
          font-size-sm
          d-flex
          align-items-center
          justify-content-start
          m-0
          p-1
          py-4
        "
      >
        <strong>
          <i
            style="font-size: 24px"
            nz-icon
            nzType="notification"
            nzTheme="outline"
            class="mx-3"
          ></i>
          Thông báo
        </strong>
      </li>
      <div class="px-4 py-2">
        <nz-divider class="m-0 p-0"></nz-divider>
      </div>
      <li
        style="height: 64px"
        nz-menu-item
        class="
          font-size-sm
          d-flex
          align-items-center
          justify-content-start
          m-0
          p-1
          py-4
        "
      >
        <strong>
          <i
            style="font-size: 24px"
            nz-icon
            nzType="user"
            nzTheme="outline"
            class="mx-3"
          ></i>
          Bạn
        </strong>
      </li>
      <div class="px-4 py-2">
        <nz-divider class="m-0 p-0"></nz-divider>
      </div>
      <li
        style="height: 64px"
        nz-menu-item
        class="
          font-size-sm
          d-flex
          align-items-center
          justify-content-start
          m-0
          p-1
          py-4
        "
      >
        <strong>
          <i
            style="font-size: 24px"
            nz-icon
            nzType="setting"
            nzTheme="outline"
            class="mx-3"
          ></i>
          Cài đặt
        </strong>
      </li>
    </ul>
  </div>
</div>
