<div nz-row nzAlign="middle" nzJustify="center">
  <div nz-col nzSpan="24" >
    <span nz-typography><strong>Danh sách bạn bè</strong></span>
  </div>
  <div  nz-col nzSpan="24" class="my-2">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center p-2">
        <nz-avatar class="d-flex align-items-center justify-content-center" nzIcon="user" [nzShape]="'square'">
        </nz-avatar>
        <a class="mx-2" href="" nz-typography><strong>username</strong></a>
      </div>
      <button nz-button nzType="text" nzShape="circle">
        <i font-size-md nz-icon nzType="more" nzTheme="outline" [nzRotate]="90"></i>
      </button>
    </div>
  </div>
</div>
