<cdk-virtual-scroll-viewport itemSize="50px" style="height: 50vh; overflow-y: auto;" nz-row nzAlign="middle"
  nzJustify="center">
  <ng-container *ngIf="friendList$ | async as friends_list; else loadingTpl">
    <ng-container *ngIf="friends_list.length > 0; else emptyTpl">
      <ng-container *ngFor="let friend of friends_list | userDisplayNameFilter: searchFilter " >
        <app-friend-info [friend]='friend'></app-friend-info>
      </ng-container>
    </ng-container>
  </ng-container>
</cdk-virtual-scroll-viewport>
<div nz-row style="height: 5vh;" nzAlign="middle" nzJustify="center">
  <div nz-col nzSpan="24" class="d-flex align-items-center py-2">
    <nz-input-group nzSize="default" [nzSuffix]="suffixIconSearch">
      <input [(ngModel)]="searchFilter" class="bg-none" type="text" nz-input placeholder="Tìm kiếm" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon nzType="search"></i>
    </ng-template>
  </div>
</div>
<ng-template #emptyTpl>
  <div class="w-100 h-100 d-flex align-items-center justify-content-center">
    <nz-empty></nz-empty>
  </div>
</ng-template>
<ng-template #loadingTpl>
  <div class="w-100 h-100 d-flex align-items-center justify-content-center">
    <nz-spin nzSimple nzTip="Đang tải ..."></nz-spin>
  </div>
</ng-template>
