<div nz-row  nzAlign="middle" nzJustify="center" style="min-height: 300px;" class="w-100">
  <div nz-col nzSpan="24" class="d-flex align-items-center justify-content-center" >
    <img
    width="200px" height="200px"
      src="https://firebasestorage.googleapis.com/v0/b/social-network-360bd.appspot.com/o/public%2Fassets%2Fbackground%2FAsset%201.svg?alt=media&token=5ecaac39-b0b5-4529-8600-2eed9d547a6d"
      alt="">
  </div>
  <div nz-col nzSpan="24">
    <h5 nz-typography class="text-center">{{noDataTitle}}</h5>
  </div>
</div>
