<!-- <div *ngIf="vm$ | async as vm" nz-row nzJustify="center" class="position-relative">
  <div nz-col nzXl="6" nzLg="7" nzSpan="0" class="position-relative pt-2" #leftContainer>
    <nz-affix nzTarget="leftContainer" nzOffsetTop="50">
      <app-pane-menu> </app-pane-menu>
    </nz-affix>
  </div>
  <div appScrollable (scrollPosition)="scrollHandle($event)" nz-col nzXl="12" nzLg="10" nzSpan="24"
    class="h-100 p-3 pt-2">
    <home-post-container></home-post-container>
      <ng-container *ngIf="vm.posts">
        <ng-container *ngFor="let post of vm.posts">
          <home-post-card-content [post]="post" [user]="vm.currentUser"></home-post-card-content>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="vm.isLoading">
        <nz-skeleton [nzAvatar]="true" [nzParagraph]="{ rows: 6 }" [nzActive]="true"
          class="glass shadow-sm mt-4 rounded-12 p-4"></nz-skeleton>
      </ng-container>
  </div>
  <div nz-col nzXl="6" nzLg="7" nzSpan="0" class="h-100 p-4 pt-2 ">
    <div nz-row *ngIf="vm.currentUser">
      <div nz-col nzSpan="24">
        <friend-request-list [currentUser]='vm.currentUser'></friend-request-list>
      </div>
      <div nz-col nzSpan="24" class="glass rounded-12 p-3" style="height: 80vh; overflow-y: auto;">
        <app-friends-list></app-friends-list>
      </div>
    </div>
  </div>
</div> -->

<div nz-row nzJustify="center" class="position-relative">
  <div nz-col nzXl="6" nzLg="7" nzSpan="0" class="position-relative pt-2" #leftContainer>
    <nz-affix nzTarget="leftContainer" nzOffsetTop="50">
      <ng-container *ngIf="currentUser$">
        <app-pane-menu [currentUser]='currentUser$'> </app-pane-menu>
      </ng-container>
      <ng-container *ngIf="!currentUser$">
        <app-pane-menu> </app-pane-menu>
      </ng-container>

    </nz-affix>
  </div>
  <div nz-col nzXl="12" nzLg="10" nzSpan="24" class="h-100 p-3 pt-2">
    <router-outlet></router-outlet>
  </div>
  <div nz-col nzXl="6" nzLg="7" nzSpan="0" class="h-100 p-4 pt-2 ">
    <!-- <div nz-row *ngIf="vm.currentUser">
      <div nz-col nzSpan="24">
        <friend-request-list [currentUser]='vm.currentUser'></friend-request-list>
      </div>
      <div nz-col nzSpan="24" class="glass rounded-12 p-3" style="height: 80vh; overflow-y: auto;">
        <app-friends-list></app-friends-list>
      </div>
    </div> -->
  </div>
</div>
