<div
  nz-row
  nzJustify="center"
>
  <div
    nz-col
    nzXl="6"
    nzLg="7"
    nzSpan="0"
    class="position-relative pt-5"
    #leftContainer
  >
    <nz-affix nzTarget="leftContainer" nzOffsetTop="50">
      <app-pane-menu> </app-pane-menu>
    </nz-affix>
  </div>
  <div nz-col nzXl="12" nzLg="10" nzSpan="24" class="h-100 p-3 pt-5">
    <home-post-container></home-post-container>
    <!-- <ng-container *ngFor="let post of posts">
      <home-post-card-content [post]="post"></home-post-card-content>
    </ng-container> -->
  </div>
  <div nz-col nzXl="6" nzLg="7" nzSpan="0" class="h-100 p-2 pt-5">
    <friend-request-list></friend-request-list>
  </div>
</div>
