/* You can add global styles to this file, and also import other style files */
* {
  // font-family: "Fira Sans Extra Condensed", sans-serif;

font-family: "SF Pro Text",-apple-system,BlinkMacSystemFont,Arial,Segoe UI,Roboto,"Helvetica Neue",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.top-rounded {
  border-top-left-radius: 25px !important;
  border-top-right-radius: 25px !important;
}

.btn-image {
  cursor: pointer;
  padding: 4px;
  border-radius: 9.5px;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
  &:hover {
    background-color: #F4F6FA;
  }
}
