// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";
// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less
@primary-color: #00b2fe;
@secondary-color: #4b5663;
@gray-color: #acb9c9;
@error-color: #fd70a1;
@border-radius-base: 8px;
// @font-family: 'Fira Sans Extra Condensed', sans-serif !important;
@font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, Arial, Segoe UI,
  Roboto, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
@text-color: #4c607b;
@text-color-secondary: @secondary-color;
@bg-none: none;
@menu-item-active-bg: rgba(255, 255, 255, 0.5);
@input-bg: @bg-none;
@menu-bg: @bg-none;
@link-color: @text-color;
* {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, Arial, Segoe UI,
    Roboto, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

body {
  scroll-behavior: smooth;
  // background-color: #50e3c2;
  // background-image: radial-gradient(at 47% 33%, hsl(162, 77%, 40%) 0, transparent 59%),
  //   radial-gradient(at 82% 65%, hsl(198, 100%, 50%) 0, transparent 55%);
  background: hsla(141, 54%, 86%, 1);

  background: linear-gradient(
    90deg,
    hsla(141, 54%, 86%, 1) 0%,
    hsla(333, 73%, 85%, 1) 50%,
    hsla(211, 58%, 79%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(141, 54%, 86%, 1) 0%,
    hsla(333, 73%, 85%, 1) 50%,
    hsla(211, 58%, 79%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(141, 54%, 86%, 1) 0%,
    hsla(333, 73%, 85%, 1) 50%,
    hsla(211, 58%, 79%, 1) 100%
  );

  // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#CAEFD7", endColorstr="#F5BFD7", GradientType=1 );
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text-no-copy {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.icon-size {
  font-size: 24px;
}
.top-rounded {
  border-top-left-radius: 25px !important;
  border-top-right-radius: 25px !important;
}

.btn-image {
  cursor: pointer;
  padding: 4px;
  border-radius: 9.5px;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
  &:hover {
    background-color: #f4f6fa;
  }
}

.outline-none {
  outline-width: 0px !important;
  border: none;
}
.border-none {
  border: none;
}
.bg-none {
  background: @bg-none !important;
}
.glass {
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  background-image: linear-gradient(
    155deg,
    rgba(255, 255, 255, 0.62),
    rgba(255, 255, 255, 0)
  );
}

.glass-2 {
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  background-image: linear-gradient(
    155deg,
    rgba(255, 255, 255, 0.62),
    rgba(255, 255, 255, 0.52)
  );
}

.c-bg-secondary {
  background: @secondary-color;
}

.font-gray {
  color: @gray-color;
}

.ant-drawer-header {
  border-radius: 25px, 25px 25px 25px !important;
}

.top-rounded {
  border-top-left-radius: 25px !important;
  border-top-right-radius: 25px !important;
}

.btn-image {
  cursor: pointer;
  padding: 4px;
  border-radius: 9.5px;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
  &:hover {
    background-color: #f4f6fa;
  }
}
.font-size-md {
  font-size: 16px;
}

.font-size-xs{
  font-size: 12px;
}

.rounded-12 {
  border-radius: 12px !important;
}
.rounded-24 {
  border-radius: 24px !important;
}

.top-rounded {
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}
.h-60 {
  height: 60px;
}
.h-80 {
  height: 80px;
}
.h-120 {
  height: 120px;
}
.h-180 {
  height: 180px;
}

mt-50 {
  margin-top: 50px;
}

.no-resize {
  resize: none;
}

.font-size-sm {
  font-size: 13px;
}
.font-size-xs {
  font-size: 12px;
}

.pointer {
  cursor: pointer;
}
.scale-sm {
  transition: all 0.2s ease-in-out;

  &:hover {
    scale: 1.05;
  }
}

.rounded-bottom-24 {
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.break-line {
  word-wrap: break-word; /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap; /* current browsers */
}

.icon-button {
  padding: 2px;
  border-radius: 50%;
}
