// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";
// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less
@primary-color: #00B2FE;
@secondary-color: #4b5663;
@gray-color: #acb9c9;
@border-radius-base: 8px;
// @font-family: 'Fira Sans Extra Condensed', sans-serif !important;
@font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, Arial, Segoe UI,
  Roboto, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
@text-color: #4c607b;
@text-color-secondary: @secondary-color;
@bg-none: none; 
@menu-item-active-bg: @bg-none;
@input-bg: @bg-none;
// @input-border-color: #fff; 
@menu-bg: @bg-none;

// @input-border-color: @secondary-color;
// @input-placeholder-color: #9da9b9;
// @input-hover-border-color: none;
// @outline-width: 0px;
// @outline-color: @secondary-color;
.outline-none{
  outline-width: 0px !important;
  border: none;
}
.border-none{
  border: none;
}
.bg-none{
  background: @bg-none !important;
}
.glass{
backdrop-filter: blur(16px);
-webkit-backdrop-filter:blur(16px);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
background-image: linear-gradient(155deg, rgba(255, 255, 255, 0.62), rgba(255, 255, 255, 0));
}

.glass-2 {
backdrop-filter: blur(16px);
-webkit-backdrop-filter:blur(16px);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
background-image: linear-gradient(155deg, rgba(255, 255, 255, 0.62), rgba(255, 255, 255, 0.52));
}

@link-color: @text-color;
.c-bg-secondary {
  background: @secondary-color;
}

.font-gray {
  color: @gray-color;
}

.ant-drawer-header {
  border-radius: 25px, 25px 25px 25px !important;
}

* {
  font-family: "Fira Sans Extra Condensed", sans-serif;
}

.top-rounded {
  border-top-left-radius: 25px !important;
  border-top-right-radius: 25px !important;
}

.btn-image {
  cursor: pointer;
  padding: 4px;
  border-radius: 9.5px;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
  &:hover {
    background-color: #f4f6fa;
  }
}
.font-size-md {
  font-size: 16px;
}

.rounded-12 {
  border-radius: 12px !important;
}
.rounded-24 {
  border-radius: 24px !important;
}

.top-rounded {
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}
.h-60 {
  height: 60px;
}
.h-80 {
  height: 80px;
}
.h-120 {
  height: 120px;
}
.h-180 {
  height: 180px;
}

mt-50 {
  margin-top: 50px;
}

.no-resize {
  resize: none;
}

.font-size-sm {
  font-size: 13px;
}
.font-size-xs {
  font-size: 12px;
}

.pointer {
  cursor: pointer;
}
.scale-sm {
  transition: all 0.2s ease-in-out;

  &:hover {
    scale: 1.05;
  }
}

.rounded-bottom-24 {
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.break-line {
  word-wrap: break-word; /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap; /* current browsers */
}
