<div nz-row nzAlign="middle" nzJustify="center" class=" p-1 m-3 glass-2 rounded-12 shadow mb-4">
  <div nz-col nzLg="6" nzSpan="12" class="d-flex align-items-center justify-content-center">
    <img [routerLink]="['/']" nz-image width="300px" nzAlt="logo" nzDisablePreview="true" height="90px"
      nzSrc="https://firebasestorage.googleapis.com/v0/b/social-network-360bd.appspot.com/o/public%2Fassets%2Flogo%2Flogo_final_4.svg?alt=media&token=c4c662a8-2bd8-43ae-89c4-fbf345df2898" />
  </div>
  <div nz-col nzLg="12" nzSpan="24">
    <header-nav></header-nav>
  </div>
  <div *ngIf="isAuthenticated" nz-col nzLg="6" nzSpan="0">
    <ng-container *ngTemplateOutlet="userTpl"> </ng-container>
  </div>
  <div *ngIf="!isAuthenticated" nz-col nzLg="6" nzSpan="24">
    <ng-container *ngTemplateOutlet="loginBtnTpl"> </ng-container>
  </div>
</div>

<ng-template #userTpl>
  <div nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" nzPlacement="bottomCenter"
    class="w-100 d-flex align-items-center justify-content-center px-5" *ngIf="currentUser">
    <nz-avatar [nzSize]="48" nzSrc="{{currentUser.avatar_url}}" nzShape="circle"
      class="d-flex align-items-center justify-content-center">
    </nz-avatar>
    <a nz-typography class="font-size-sm mx-1">{{currentUser.display_name}}</a>
    <i nz-icon nzType="caret-down" nzTheme="outline"></i>
  </div>
</ng-template>


<ng-template #loginBtnTpl>
  <div nz-row nzAlign="middle" nzJustify="center">
    <div nz-col nzSpan="12" class="d-flex align-items-center justify-content-end">
      <button nzSize="large" class="mx-1 d-flex align-items-center justify-content-center" nz-button nzType="text"
        nzSearch (click)="toggleAuth('LOGIN')">
        <i nz-icon nzType="login"></i>
        Đăng nhập
      </button>
    </div>
    <div nz-col nzSpan="12">
      <button nzSize="large" nzType="primary" class="mx-1 d-flex align-items-center justify-content-center" nz-button
        nzSearch (click)="toggleAuth('REGISTER')">
        <i nz-icon nzType="user-add"></i>
        Đăng ký
      </button>
    </div>
  </div>
</ng-template>

<nz-modal *ngIf="!isAuthenticated" nzNoAnimation [nzCloseIcon]="closeIcon" nzCentered [nzFooter]="null"
  (nzOnCancel)="toggleAuth()" [(nzVisible)]="authVisible" nzCloseOnNavigation="true" [nzTitle]="modalAndModalTitleTmp">
  <ng-container *ngTemplateOutlet="authFormTpl"> </ng-container>
</nz-modal>

<ng-template #authFormTpl>
  <user-auth-register *ngIf="authFormSelected !== 'LOGIN'">
  </user-auth-register>
  <user-auth-login *ngIf="authFormSelected === 'LOGIN'"> </user-auth-login>
</ng-template>

<ng-template #closeIcon>
  <i nz-icon nzType="close" nzTheme="outline"></i>
</ng-template>

<ng-template #modalAndModalTitleTmp>
  <h3 class="m-0 p-0" nz-typography>
    <strong *ngIf="authFormSelected === 'LOGIN'">Đăng Nhập</strong>
    <strong *ngIf="authFormSelected !== 'LOGIN'">Đăng Ký</strong>
  </h3>
  <div class="
      w-100
      my-2
      d-flex
      align-items-center
      justify-content-start
      font-size-sm
    ">
    <p nz-typography nzType="secondary" class="m-0 p-0" *ngIf="authFormSelected === 'LOGIN'">
      Bạn chưa có tài khoản ?
    </p>
    <p nz-typography nzType="secondary" class="m-0 p-0" *ngIf="authFormSelected !== 'LOGIN'">
      Bạn đã có tài khoản ?
    </p>
    <a *ngIf="authFormSelected === 'LOGIN'" nz-typography class="mx-1 p-0" (click)="changeAuthForm('REGISTER')">
      <strong> Đăng ký </strong></a>
    <a *ngIf="authFormSelected !== 'LOGIN'" nz-typography class="mx-1 p-0" (click)="changeAuthForm('LOGIN')">
      <strong> Đăng nhập </strong></a>
  </div>
</ng-template>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu class="p-4 mx-4">
    <li nz-menu-item class="d-flex align-items-center" (click)="logout()">
      <i nz-icon nzType="logout" nzTheme="outline" class="font-size-md"></i>
      <span nz-typography>
        Đăng xuất
      </span>
    </li>
  </ul>
</nz-dropdown-menu>
